<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Firefly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Firefly.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastCheckedTime" serializeAs="String">
                <value />
            </setting>
            <setting name="RealTimeQuery" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseCustomFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>宋体</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="IsFirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastLaunchTime" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultColumnMappingPath" serializeAs="String">
                <value />
            </setting>
        </Firefly.Properties.Settings>
    </userSettings>
</configuration>